body {
	 /* can be treated like a fallback */
  background-color: black;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(black,gray);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: black;
  background: linear-gradient(black, gray);
	color: white;
	font-family: Arial;
	height: 97vh;
}
